<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>ポーカー</h1>
        <div class="cards" v-if="gameStep != 1">
            <div class="card_img" v-on:click="borderChange1">
                <img v-bind:src="img_src1" alt="画像" v-bind:class="{'is-border': isBorder1}" id="card1">
            </div>
            <div class="card_img" v-on:click="borderChange2">
                <img v-bind:src="img_src2" alt="画像" v-bind:class="{'is-border': isBorder2}" id="card2">
            </div>
            <div class="card_img" v-on:click="borderChange3">
                <img v-bind:src="img_src3" alt="画像" v-bind:class="{'is-border': isBorder3}" id="card3">
            </div>
            <div class="card_img" v-on:click="borderChange4">
                <img v-bind:src="img_src4" alt="画像" v-bind:class="{'is-border': isBorder4}" id="card4">
            </div>
            <div class="card_img" v-on:click="borderChange5">
                <img v-bind:src="img_src5" alt="画像" v-bind:class="{'is-border': isBorder5}" id="card5">
            </div>
        </div>
        <p v-if="gameStep == 4">{{ result }}</p>   
        <button v-on:click="gameStart" v-if="gameStep == 1">ゲーム開始</button>
        <button v-on:click="cardChange" v-if="gameStep == 2">カード交換</button>
        <button v-on:click="showResult" v-if="gameStep == 2">交換せず結果を見る</button>
        <button v-on:click="showResult" v-if="gameStep == 3">結果を見る</button>
        <button v-on:click="gameStart" v-if="gameStep == 4">もう一度</button>
    </div>
    <script type="text/javascript" src="sample.js"></script>
</body>

</html>